PUBLIC_APPLE_APP_ID=6770265864
PUBLIC_GOOGLE_PLAY_PACKAGE_ID=us.debloat.uf
PUBLIC_IOS_APP_URL=https://apps.apple.com/app/id6770265864
PUBLIC_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=us.debloat.uf
PUBLIC_SITE_ORIGIN=https://migue-rc.github.io
PUBLIC_GITHUB_REPO=migue-rc/universal-fit
PUBLIC_GITHUB_PROJECT_URL=
PUBLIC_SUPPORT_EMAIL=support@debloat.us
PUBLIC_APP_SUPPORT_URL=
PUBLIC_APP_MARKETING_URL=
PUBLIC_PRIVACY_POLICY_URL=
PUBLIC_USER_PRIVACY_CHOICES_URL="https://migue-rc.github.io/universal-fit/privacy#privacy-choices"
